# Byte-compiled / optimized / DLL files
__pycache__/

# IDEs files

.vscode
.idea

# Configs
config.yaml
config_local.yaml
data
data.txt
server_hosting
rt_client
maps
tmp
server/app/venv
server/app_chat/__pycache__
# server/app/__pycache__
# server/app/models/__pycache__
# server/app/api/__pycache__
# server/app/controllers/__pycache__